<div class="row-layout group">
  <div class="column-layout group_1">
    <h6 class="content">
      Courses
    </h6>
    <igx-list class="list">
      @for (item of learningAppAllCourses; track item) {
        <igx-list-item [selected]="this.listSelectedItem1 != null && this.listSelectedItem1 === item" (click)="listSelectedItem1 = item">
          <span igxListLine>
            <div class="row-layout group_2">
              <img [src]="item.Image" alt="" class="image" />
              <div class="column-layout group_3">
                <p class="ig-typography__subtitle-2 content">
                  {{ item.Course }}
                </p>
                <p class="ig-typography__caption text">
                  {{ item.Intro }}
                </p>
                <div class="row-layout group_4">
                  <igc-rating [(ngModel)]="item.Rating" class="rating"></igc-rating>
                  <igx-chip class="chip">
                    {{ item.Level }}
                  </igx-chip>
                  <igx-chip class="chip">
                    {{ item.Tag }}
                  </igx-chip>
                </div>
              </div>
            </div>
          </span>
        </igx-list-item>
      }
    </igx-list>
  </div>
</div>
<div class="row-layout group_5">
  <div class="column-layout group_6">
    <div class="row-layout group_7">
      <img src="/assets/course1.svg" alt="" class="image_1" />
      <div class="column-layout group_8">
        <h5 class="h5">
          Web Development Basics
        </h5>
        <div class="row-layout group_9">
          <igc-rating [(ngModel)]="ngModel" class="rating_1"></igc-rating>
          <igx-chip class="chip">
            Beginner
          </igx-chip>
          <igx-chip class="chip">
            Front-end
          </igx-chip>
        </div>
        <div class="column-layout group_10">
          <p class="ig-typography__body-2 text">
            HTML, CSS, and JavaScript: The basics of web development. If you’re looking to get started on front-end development, this course is for you. You'll find it particularly useful if you're coming from some other area of software development.
          </p>
          <p class="ig-typography__body-2 text">
            We will then dive deep into each technology, exploring concepts like forms and controls in HTML, OOP in JavaScript, and the most important CSS patterns to make your web pages look good.
          </p>
        </div>
        <div class="row-layout group_11">
          <igx-avatar src="/assets/Avatar14.png" shape="circle" class="avatar"></igx-avatar>
          <div class="column-layout group_12">
            <p class="ig-typography__subtitle-2 content">
              Susy Berenson
            </p>
            <p class="ig-typography__body-2 text_1">
              Senior Full-Stack Dev.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row-layout group_13">
      <h6 class="content">
        Course Content
      </h6>
      <div class="row-layout group_14">
        <igx-icon class="icon">
          book
        </igx-icon>
        <p class="text_2">
          40 lectures
        </p>
        <igx-icon class="icon">
          access_time
        </igx-icon>
        <p class="content">
          8 hours
        </p>
      </div>
    </div>
    <div class="column-layout group_15">
      <igx-accordion [singleBranchExpand]="true" class="accordion">
        <igx-expansion-panel>
          <igx-expansion-panel-body>
            <igx-list class="list_1">
              <igx-list-item [selected]="this.listSelectedItem2 != null && this.listSelectedItem2 === '0'" (click)="listSelectedItem2 = '0'">
                <span igxListThumbnail>
                  <igx-avatar shape="circle" class="avatar_1 avatar_1_1">
                    <igx-icon class="icon_1">
                      play_circle_outline
                    </igx-icon>
                  </igx-avatar>
                </span>
                <span igxListLineTitle>Welcome to Web Development Basics</span>
                <span igxListAction>
                  <igx-icon class="icon_2">
                    check_circle
                  </igx-icon>
                </span>
              </igx-list-item>
              <igx-list-item [selected]="this.listSelectedItem2 != null && this.listSelectedItem2 === '1'" (click)="listSelectedItem2 = '1'">
                <span igxListThumbnail>
                  <igx-avatar shape="circle" class="avatar_1 avatar_1_2">
                    <igx-icon class="icon_1">
                      play_circle_outline
                    </igx-icon>
                  </igx-avatar>
                </span>
                <span igxListLineTitle>Downloadable Course Resources</span>
                <span igxListAction>
                  <igx-icon class="icon_2">
                    check_circle
                  </igx-icon>
                </span>
              </igx-list-item>
              <igx-list-item [selected]="this.listSelectedItem2 != null && this.listSelectedItem2 === '2'" (click)="listSelectedItem2 = '2'">
                <span igxListThumbnail>
                  <igx-avatar shape="circle" class="avatar_1 avatar_1_3">
                    <igx-icon class="icon_1">
                      play_circle_outline
                    </igx-icon>
                  </igx-avatar>
                </span>
                <span igxListLineTitle>Setup and Software Requirements</span>
                <span igxListAction>
                  <igx-icon class="icon_2">
                    check_circle
                  </igx-icon>
                </span>
              </igx-list-item>
            </igx-list>
          </igx-expansion-panel-body>
          <igx-expansion-panel-header>
            <igx-expansion-panel-title>Quick Introduction</igx-expansion-panel-title>
          </igx-expansion-panel-header>
        </igx-expansion-panel>
        <igx-expansion-panel>
          <igx-expansion-panel-body>
            <igx-list class="list_1">
              <igx-list-item [selected]="this.listSelectedItem3 != null && this.listSelectedItem3 === '0'" (click)="listSelectedItem3 = '0'">
                <span igxListThumbnail>
                  <igx-avatar shape="circle" class="avatar_1 avatar_1_4">
                    <igx-icon class="icon_1">
                      play_circle_outline
                    </igx-icon>
                  </igx-avatar>
                </span>
                <span igxListLineTitle>Getting to Know HTML Tags</span>
                <span igxListAction>
                  <igx-icon class="icon_2">
                    check_circle
                  </igx-icon>
                </span>
              </igx-list-item>
              <igx-list-item [selected]="this.listSelectedItem3 != null && this.listSelectedItem3 === '1'" (click)="listSelectedItem3 = '1'">
                <span igxListThumbnail>
                  <igx-avatar shape="circle" class="avatar_1 avatar_1_5">
                    <igx-icon class="icon_1">
                      play_circle_outline
                    </igx-icon>
                  </igx-avatar>
                </span>
                <span igxListLineTitle>Viewing HTML Tags in Page Source</span>
                <span igxListAction>
                  <igx-icon class="icon_3">
                    playlist_play
                  </igx-icon>
                </span>
              </igx-list-item>
              <igx-list-item [selected]="this.listSelectedItem3 != null && this.listSelectedItem3 === '2'" (click)="listSelectedItem3 = '2'">
                <span igxListThumbnail>
                  <igx-avatar shape="circle" class="avatar_1 avatar_1_6">
                    <igx-icon class="icon_1">
                      play_circle_outline
                    </igx-icon>
                  </igx-avatar>
                </span>
                <span igxListLineTitle>Components and Structure of a Website</span>
                <span igxListAction>
                  <igx-icon class="icon_3">
                    playlist_play
                  </igx-icon>
                </span>
              </igx-list-item>
              <igx-list-item [selected]="this.listSelectedItem3 != null && this.listSelectedItem3 === '3'" (click)="listSelectedItem3 = '3'">
                <span igxListThumbnail>
                  <igx-avatar shape="circle" class="avatar_1 avatar_1_7">
                    <igx-icon class="icon_1">
                      play_circle_outline
                    </igx-icon>
                  </igx-avatar>
                </span>
                <span igxListLineTitle>Adding Tag Attributes</span>
                <span igxListAction>
                  <igx-icon class="icon_3">
                    playlist_play
                  </igx-icon>
                </span>
              </igx-list-item>
            </igx-list>
          </igx-expansion-panel-body>
          <igx-expansion-panel-header>
            <igx-expansion-panel-title>Basics of HTML Elements</igx-expansion-panel-title>
          </igx-expansion-panel-header>
        </igx-expansion-panel>
        <igx-expansion-panel>
          <igx-expansion-panel-body>
            <igx-list class="list_1">
              <igx-list-item [selected]="this.listSelectedItem4 != null && this.listSelectedItem4 === '0'" (click)="listSelectedItem4 = '0'">
                <span igxListThumbnail>
                  <igx-avatar shape="circle" class="avatar_1 avatar_1_8">
                    <igx-icon class="icon_1">
                      play_circle_outline
                    </igx-icon>
                  </igx-avatar>
                </span>
                <span igxListLineTitle>Setting Up a Basic HTML Page</span>
                <span igxListAction>
                  <igx-icon class="icon_2">
                    check_circle
                  </igx-icon>
                </span>
              </igx-list-item>
              <igx-list-item [selected]="this.listSelectedItem4 != null && this.listSelectedItem4 === '1'" (click)="listSelectedItem4 = '1'">
                <span igxListThumbnail>
                  <igx-avatar shape="circle" class="avatar_1 avatar_1_9">
                    <igx-icon class="icon_1">
                      play_circle_outline
                    </igx-icon>
                  </igx-avatar>
                </span>
                <span igxListLineTitle>Creating Links and Formatting Text</span>
                <span igxListAction>
                  <igx-icon class="icon_2">
                    check_circle
                  </igx-icon>
                </span>
              </igx-list-item>
              <igx-list-item [selected]="this.listSelectedItem4 != null && this.listSelectedItem4 === '2'" (click)="listSelectedItem4 = '2'">
                <span igxListThumbnail>
                  <igx-avatar shape="circle" class="avatar_1 avatar_1_10">
                    <igx-icon class="icon_1">
                      play_circle_outline
                    </igx-icon>
                  </igx-avatar>
                </span>
                <span igxListLineTitle>Adding Basic Page Content</span>
                <span igxListAction>
                  <igx-icon class="icon_3">
                    playlist_play
                  </igx-icon>
                </span>
              </igx-list-item>
              <igx-list-item [selected]="this.listSelectedItem4 != null && this.listSelectedItem4 === '3'" (click)="listSelectedItem4 = '3'">
                <span igxListThumbnail>
                  <igx-avatar shape="circle" class="avatar_1 avatar_1_11">
                    <igx-icon class="icon_1">
                      play_circle_outline
                    </igx-icon>
                  </igx-avatar>
                </span>
                <span igxListLineTitle>Browser Favicon</span>
                <span igxListAction>
                  <igx-icon class="icon_3">
                    playlist_play
                  </igx-icon>
                </span>
              </igx-list-item>
            </igx-list>
          </igx-expansion-panel-body>
          <igx-expansion-panel-header>
            <igx-expansion-panel-title>Creating an HTML Page</igx-expansion-panel-title>
          </igx-expansion-panel-header>
        </igx-expansion-panel>
        <igx-expansion-panel>
          <igx-expansion-panel-body>
            <igx-list class="list_1">
              <igx-list-item [selected]="this.listSelectedItem5 != null && this.listSelectedItem5 === '0'" (click)="listSelectedItem5 = '0'">
                <span igxListThumbnail>
                  <igx-avatar shape="circle" class="avatar_1 avatar_1_12">
                    <igx-icon class="icon_1">
                      play_circle_outline
                    </igx-icon>
                  </igx-avatar>
                </span>
                <span igxListLineTitle>CSS Basics - Part 1</span>
                <span igxListAction>
                  <igx-icon class="icon_3">
                    playlist_play
                  </igx-icon>
                </span>
              </igx-list-item>
              <igx-list-item [selected]="this.listSelectedItem5 != null && this.listSelectedItem5 === '1'" (click)="listSelectedItem5 = '1'">
                <span igxListThumbnail>
                  <igx-avatar shape="circle" class="avatar_1 avatar_1_13">
                    <igx-icon class="icon_1">
                      play_circle_outline
                    </igx-icon>
                  </igx-avatar>
                </span>
                <span igxListLineTitle>CSS Basics - Part 2</span>
                <span igxListAction>
                  <igx-icon class="icon_3">
                    playlist_play
                  </igx-icon>
                </span>
              </igx-list-item>
              <igx-list-item [selected]="this.listSelectedItem5 != null && this.listSelectedItem5 === '2'" (click)="listSelectedItem5 = '2'">
                <span igxListThumbnail>
                  <igx-avatar shape="circle" class="avatar_1 avatar_1_14">
                    <igx-icon class="icon_1">
                      play_circle_outline
                    </igx-icon>
                  </igx-avatar>
                </span>
                <span igxListLineTitle>Getting Started with External CSS</span>
                <span igxListAction>
                  <igx-icon class="icon_3">
                    playlist_play
                  </igx-icon>
                </span>
              </igx-list-item>
              <igx-list-item [selected]="this.listSelectedItem5 != null && this.listSelectedItem5 === '3'" (click)="listSelectedItem5 = '3'">
                <span igxListThumbnail>
                  <igx-avatar shape="circle" class="avatar_1 avatar_1_15">
                    <igx-icon class="icon_1">
                      play_circle_outline
                    </igx-icon>
                  </igx-avatar>
                </span>
                <span igxListLineTitle>Common CSS Properties</span>
                <span igxListAction>
                  <igx-icon class="icon_3">
                    playlist_play
                  </igx-icon>
                </span>
              </igx-list-item>
              <igx-list-item [selected]="this.listSelectedItem5 != null && this.listSelectedItem5 === '4'" (click)="listSelectedItem5 = '4'">
                <span igxListThumbnail>
                  <igx-avatar shape="circle" class="avatar_1 avatar_1_16">
                    <igx-icon class="icon_1">
                      play_circle_outline
                    </igx-icon>
                  </igx-avatar>
                </span>
                <span igxListLineTitle>Setting Colors with CSS</span>
                <span igxListAction>
                  <igx-icon class="icon_3">
                    playlist_play
                  </igx-icon>
                </span>
              </igx-list-item>
            </igx-list>
          </igx-expansion-panel-body>
          <igx-expansion-panel-header>
            <igx-expansion-panel-title>Basic Styling with CSS</igx-expansion-panel-title>
          </igx-expansion-panel-header>
        </igx-expansion-panel>
        <igx-expansion-panel>
          <igx-expansion-panel-body>
            <igx-list class="list_1">
              <igx-list-item [selected]="this.listSelectedItem6 != null && this.listSelectedItem6 === '0'" (click)="listSelectedItem6 = '0'">
                <span igxListThumbnail>
                  <igx-avatar shape="circle" class="avatar_1 avatar_1_17">
                    <igx-icon class="icon_1">
                      play_circle_outline
                    </igx-icon>
                  </igx-avatar>
                </span>
                <span igxListLineTitle>Adding Paragraphs</span>
                <span igxListAction>
                  <igx-icon class="icon_3">
                    playlist_play
                  </igx-icon>
                </span>
              </igx-list-item>
              <igx-list-item [selected]="this.listSelectedItem6 != null && this.listSelectedItem6 === '1'" (click)="listSelectedItem6 = '1'">
                <span igxListThumbnail>
                  <igx-avatar shape="circle" class="avatar_1 avatar_1_18">
                    <igx-icon class="icon_1">
                      play_circle_outline
                    </igx-icon>
                  </igx-avatar>
                </span>
                <span igxListLineTitle>Creating Line Breaks</span>
                <span igxListAction>
                  <igx-icon class="icon_3">
                    playlist_play
                  </igx-icon>
                </span>
              </igx-list-item>
              <igx-list-item [selected]="this.listSelectedItem6 != null && this.listSelectedItem6 === '2'" (click)="listSelectedItem6 = '2'">
                <span igxListThumbnail>
                  <igx-avatar shape="circle" class="avatar_1 avatar_1_19">
                    <igx-icon class="icon_1">
                      play_circle_outline
                    </igx-icon>
                  </igx-avatar>
                </span>
                <span igxListLineTitle>Working with Headings</span>
                <span igxListAction>
                  <igx-icon class="icon_3">
                    playlist_play
                  </igx-icon>
                </span>
              </igx-list-item>
              <igx-list-item [selected]="this.listSelectedItem6 != null && this.listSelectedItem6 === '3'" (click)="listSelectedItem6 = '3'">
                <span igxListThumbnail>
                  <igx-avatar shape="circle" class="avatar_1 avatar_1_20">
                    <igx-icon class="icon_1">
                      play_circle_outline
                    </igx-icon>
                  </igx-avatar>
                </span>
                <span igxListLineTitle>Good Practices</span>
                <span igxListAction>
                  <igx-icon class="icon_3">
                    playlist_play
                  </igx-icon>
                </span>
              </igx-list-item>
            </igx-list>
          </igx-expansion-panel-body>
          <igx-expansion-panel-header>
            <igx-expansion-panel-title>Paragraph and Heading Tags</igx-expansion-panel-title>
          </igx-expansion-panel-header>
        </igx-expansion-panel>
        <igx-expansion-panel>
          <igx-expansion-panel-body>
            <igx-list class="list_1">
              <igx-list-item [selected]="this.listSelectedItem7 != null && this.listSelectedItem7 === '0'" (click)="listSelectedItem7 = '0'">
                <span igxListThumbnail>
                  <igx-avatar shape="circle" class="avatar_1 avatar_1_21">
                    <igx-icon class="icon_1">
                      play_circle_outline
                    </igx-icon>
                  </igx-avatar>
                </span>
                <span igxListLineTitle>Inserting Images With the &lt;img&gt; Tag</span>
                <span igxListAction>
                  <igx-icon class="icon_3">
                    playlist_play
                  </igx-icon>
                </span>
              </igx-list-item>
              <igx-list-item [selected]="this.listSelectedItem7 != null && this.listSelectedItem7 === '1'" (click)="listSelectedItem7 = '1'">
                <span igxListThumbnail>
                  <igx-avatar shape="circle" class="avatar_1 avatar_1_22">
                    <igx-icon class="icon_1">
                      play_circle_outline
                    </igx-icon>
                  </igx-avatar>
                </span>
                <span igxListLineTitle>Image Attributes</span>
                <span igxListAction>
                  <igx-icon class="icon_3">
                    playlist_play
                  </igx-icon>
                </span>
              </igx-list-item>
              <igx-list-item [selected]="this.listSelectedItem7 != null && this.listSelectedItem7 === '2'" (click)="listSelectedItem7 = '2'">
                <span igxListThumbnail>
                  <igx-avatar shape="circle" class="avatar_1 avatar_1_23">
                    <igx-icon class="icon_1">
                      play_circle_outline
                    </igx-icon>
                  </igx-avatar>
                </span>
                <span igxListLineTitle>Image Formatting</span>
                <span igxListAction>
                  <igx-icon class="icon_3">
                    playlist_play
                  </igx-icon>
                </span>
              </igx-list-item>
            </igx-list>
          </igx-expansion-panel-body>
          <igx-expansion-panel-header>
            <igx-expansion-panel-title>Working With Images</igx-expansion-panel-title>
          </igx-expansion-panel-header>
        </igx-expansion-panel>
        <igx-expansion-panel>
          <igx-expansion-panel-body>
            <igx-list class="list_1">
              <igx-list-item [selected]="this.listSelectedItem8 != null && this.listSelectedItem8 === '0'" (click)="listSelectedItem8 = '0'">
                <span igxListThumbnail>
                  <igx-avatar shape="circle" class="avatar_1 avatar_1_24">
                    <igx-icon class="icon_1">
                      play_circle_outline
                    </igx-icon>
                  </igx-avatar>
                </span>
                <span igxListLineTitle>Creating an Unordered List</span>
                <span igxListAction>
                  <igx-icon class="icon_3">
                    playlist_play
                  </igx-icon>
                </span>
              </igx-list-item>
              <igx-list-item [selected]="this.listSelectedItem8 != null && this.listSelectedItem8 === '1'" (click)="listSelectedItem8 = '1'">
                <span igxListThumbnail>
                  <igx-avatar shape="circle" class="avatar_1 avatar_1_25">
                    <igx-icon class="icon_1">
                      play_circle_outline
                    </igx-icon>
                  </igx-avatar>
                </span>
                <span igxListLineTitle>Unordered List Sub-Levels</span>
                <span igxListAction>
                  <igx-icon class="icon_3">
                    playlist_play
                  </igx-icon>
                </span>
              </igx-list-item>
              <igx-list-item [selected]="this.listSelectedItem8 != null && this.listSelectedItem8 === '2'" (click)="listSelectedItem8 = '2'">
                <span igxListThumbnail>
                  <igx-avatar shape="circle" class="avatar_1 avatar_1_26">
                    <igx-icon class="icon_1">
                      play_circle_outline
                    </igx-icon>
                  </igx-avatar>
                </span>
                <span igxListLineTitle>Creating an Ordered List</span>
                <span igxListAction>
                  <igx-icon class="icon_3">
                    playlist_play
                  </igx-icon>
                </span>
              </igx-list-item>
              <igx-list-item [selected]="this.listSelectedItem8 != null && this.listSelectedItem8 === '3'" (click)="listSelectedItem8 = '3'">
                <span igxListThumbnail>
                  <igx-avatar shape="circle" class="avatar_1 avatar_1_27">
                    <igx-icon class="icon_1">
                      play_circle_outline
                    </igx-icon>
                  </igx-avatar>
                </span>
                <span igxListLineTitle>Formating Lists</span>
                <span igxListAction>
                  <igx-icon class="icon_3">
                    playlist_play
                  </igx-icon>
                </span>
              </igx-list-item>
            </igx-list>
          </igx-expansion-panel-body>
          <igx-expansion-panel-header>
            <igx-expansion-panel-title>Ordered and Unordered Lists</igx-expansion-panel-title>
          </igx-expansion-panel-header>
        </igx-expansion-panel>
        <igx-expansion-panel>
          <igx-expansion-panel-body>
            <igx-list class="list_1">
              <igx-list-item [selected]="this.listSelectedItem9 != null && this.listSelectedItem9 === '0'" (click)="listSelectedItem9 = '0'">
                <span igxListThumbnail>
                  <igx-avatar shape="circle" class="avatar_1 avatar_1_28">
                    <igx-icon class="icon_1">
                      play_circle_outline
                    </igx-icon>
                  </igx-avatar>
                </span>
                <span igxListLineTitle>Basics of HTML Tables &amp; Examples</span>
                <span igxListAction>
                  <igx-icon class="icon_3">
                    playlist_play
                  </igx-icon>
                </span>
              </igx-list-item>
              <igx-list-item [selected]="this.listSelectedItem9 != null && this.listSelectedItem9 === '1'" (click)="listSelectedItem9 = '1'">
                <span igxListThumbnail>
                  <igx-avatar shape="circle" class="avatar_1 avatar_1_29">
                    <igx-icon class="icon_1">
                      play_circle_outline
                    </igx-icon>
                  </igx-avatar>
                </span>
                <span igxListLineTitle>Creating a Basic HTML Table</span>
                <span igxListAction>
                  <igx-icon class="icon_3">
                    playlist_play
                  </igx-icon>
                </span>
              </igx-list-item>
              <igx-list-item [selected]="this.listSelectedItem9 != null && this.listSelectedItem9 === '2'" (click)="listSelectedItem9 = '2'">
                <span igxListThumbnail>
                  <igx-avatar shape="circle" class="avatar_1 avatar_1_30">
                    <igx-icon class="icon_1">
                      play_circle_outline
                    </igx-icon>
                  </igx-avatar>
                </span>
                <span igxListLineTitle>Creating a Basic HTML Table</span>
                <span igxListAction>
                  <igx-icon class="icon_3">
                    playlist_play
                  </igx-icon>
                </span>
              </igx-list-item>
              <igx-list-item [selected]="this.listSelectedItem9 != null && this.listSelectedItem9 === '3'" (click)="listSelectedItem9 = '3'">
                <span igxListThumbnail>
                  <igx-avatar shape="circle" class="avatar_1 avatar_1_31">
                    <igx-icon class="icon_1">
                      play_circle_outline
                    </igx-icon>
                  </igx-avatar>
                </span>
                <span igxListLineTitle>Additional Table Formatting</span>
                <span igxListAction>
                  <igx-icon class="icon_3">
                    playlist_play
                  </igx-icon>
                </span>
              </igx-list-item>
            </igx-list>
          </igx-expansion-panel-body>
          <igx-expansion-panel-header>
            <igx-expansion-panel-title>Creating HTML Tables</igx-expansion-panel-title>
          </igx-expansion-panel-header>
        </igx-expansion-panel>
        <igx-expansion-panel>
          <igx-expansion-panel-body>
            <igx-list class="list_1">
              <igx-list-item [selected]="this.listSelectedItem10 != null && this.listSelectedItem10 === '0'" (click)="listSelectedItem10 = '0'">
                <span igxListThumbnail>
                  <igx-avatar shape="circle" class="avatar_1 avatar_1_32">
                    <igx-icon class="icon_1">
                      play_circle_outline
                    </igx-icon>
                  </igx-avatar>
                </span>
                <span igxListLineTitle>Introduction to Forms</span>
                <span igxListAction>
                  <igx-icon class="icon_3">
                    playlist_play
                  </igx-icon>
                </span>
              </igx-list-item>
              <igx-list-item [selected]="this.listSelectedItem10 != null && this.listSelectedItem10 === '1'" (click)="listSelectedItem10 = '1'">
                <span igxListThumbnail>
                  <igx-avatar shape="circle" class="avatar_1 avatar_1_33">
                    <igx-icon class="icon_1">
                      play_circle_outline
                    </igx-icon>
                  </igx-avatar>
                </span>
                <span igxListLineTitle>Creating HTML Input Text Controls</span>
                <span igxListAction>
                  <igx-icon class="icon_3">
                    playlist_play
                  </igx-icon>
                </span>
              </igx-list-item>
              <igx-list-item [selected]="this.listSelectedItem10 != null && this.listSelectedItem10 === '2'" (click)="listSelectedItem10 = '2'">
                <span igxListThumbnail>
                  <igx-avatar shape="circle" class="avatar_1 avatar_1_34">
                    <igx-icon class="icon_1">
                      play_circle_outline
                    </igx-icon>
                  </igx-avatar>
                </span>
                <span igxListLineTitle>Creating HTML Form Labels</span>
                <span igxListAction>
                  <igx-icon class="icon_3">
                    playlist_play
                  </igx-icon>
                </span>
              </igx-list-item>
              <igx-list-item [selected]="this.listSelectedItem10 != null && this.listSelectedItem10 === '3'" (click)="listSelectedItem10 = '3'">
                <span igxListThumbnail>
                  <igx-avatar shape="circle" class="avatar_1 avatar_1_35">
                    <igx-icon class="icon_1">
                      play_circle_outline
                    </igx-icon>
                  </igx-avatar>
                </span>
                <span igxListLineTitle>Adding an HTML Form Button to Submit Form Data</span>
                <span igxListAction>
                  <igx-icon class="icon_3">
                    playlist_play
                  </igx-icon>
                </span>
              </igx-list-item>
            </igx-list>
          </igx-expansion-panel-body>
          <igx-expansion-panel-header>
            <igx-expansion-panel-title>Creating Forms</igx-expansion-panel-title>
          </igx-expansion-panel-header>
        </igx-expansion-panel>
        <igx-expansion-panel>
          <igx-expansion-panel-body>
            <igx-list class="list_1">
              <igx-list-item [selected]="this.listSelectedItem11 != null && this.listSelectedItem11 === '0'" (click)="listSelectedItem11 = '0'">
                <span igxListThumbnail>
                  <igx-avatar shape="circle" class="avatar_1 avatar_1_36">
                    <igx-icon class="icon_1">
                      play_circle_outline
                    </igx-icon>
                  </igx-avatar>
                </span>
                <span igxListLineTitle>Static vs. Dynamic Webpages</span>
                <span igxListAction>
                  <igx-icon class="icon_3">
                    playlist_play
                  </igx-icon>
                </span>
              </igx-list-item>
              <igx-list-item [selected]="this.listSelectedItem11 != null && this.listSelectedItem11 === '1'" (click)="listSelectedItem11 = '1'">
                <span igxListThumbnail>
                  <igx-avatar shape="circle" class="avatar_1 avatar_1_37">
                    <igx-icon class="icon_1">
                      play_circle_outline
                    </igx-icon>
                  </igx-avatar>
                </span>
                <span igxListLineTitle>JavaScript Basics: Fundamental Syntax</span>
                <span igxListAction>
                  <igx-icon class="icon_3">
                    playlist_play
                  </igx-icon>
                </span>
              </igx-list-item>
              <igx-list-item [selected]="this.listSelectedItem11 != null && this.listSelectedItem11 === '2'" (click)="listSelectedItem11 = '2'">
                <span igxListThumbnail>
                  <igx-avatar shape="circle" class="avatar_1 avatar_1_38">
                    <igx-icon class="icon_1">
                      play_circle_outline
                    </igx-icon>
                  </igx-avatar>
                </span>
                <span igxListLineTitle>Using Alerts and Prompts</span>
                <span igxListAction>
                  <igx-icon class="icon_3">
                    playlist_play
                  </igx-icon>
                </span>
              </igx-list-item>
              <igx-list-item [selected]="this.listSelectedItem11 != null && this.listSelectedItem11 === '3'" (click)="listSelectedItem11 = '3'">
                <span igxListThumbnail>
                  <igx-avatar shape="circle" class="avatar_1 avatar_1_39">
                    <igx-icon class="icon_1">
                      play_circle_outline
                    </igx-icon>
                  </igx-avatar>
                </span>
                <span igxListLineTitle>Events</span>
                <span igxListAction>
                  <igx-icon class="icon_3">
                    playlist_play
                  </igx-icon>
                </span>
              </igx-list-item>
              <igx-list-item [selected]="this.listSelectedItem11 != null && this.listSelectedItem11 === '4'" (click)="listSelectedItem11 = '4'">
                <span igxListThumbnail>
                  <igx-avatar shape="circle" class="avatar_1 avatar_1_40">
                    <igx-icon class="icon_1">
                      play_circle_outline
                    </igx-icon>
                  </igx-avatar>
                </span>
                <span igxListLineTitle>Testing JavaScript</span>
                <span igxListAction>
                  <igx-icon class="icon_3">
                    playlist_play
                  </igx-icon>
                </span>
              </igx-list-item>
            </igx-list>
          </igx-expansion-panel-body>
          <igx-expansion-panel-header>
            <igx-expansion-panel-title>Introduction to JavaScript</igx-expansion-panel-title>
          </igx-expansion-panel-header>
        </igx-expansion-panel>
      </igx-accordion>
    </div>
  </div>
</div>
